#!/bin/bash

AWS_DEFAULT_REGION="${AWS_DEFAULT_REGION:-us-east-1}"
CUSTOMER_NAME="${CUSTOMER_NAME:-testClient}"
CUSTOMER_PATH="/sops/customers/${CUSTOMER_NAME}/"
STUNNEL_GW="${STUNEL_GW:-a.b.c.d:443}"

INITIAL_USER_NAME="<foo>"
INITIAL_USER_GECOS="<bar>"
INITIAL_USER_SSH_KEY="<foo bar ssh public key>"

###
# CloudFormation Files
# file to use to create the base customer AWS assets
CF_FILE="createAWSResourcesCustomer_cf.yaml"
# File to use to create the SQS response queue (optional)
CF_SQS_RESP_FILE="createAWSResourcesCustomer_response_sqs_queue_cf.yaml"
# File to use to create the remote nodes
REMOTE_NODE_CF_FILE="createAWSResourcesCustomer_remotenode_cf.yaml"
#
###



