#!/bin/bash

AWS_REGION="${AWS_REGION:-us-east-1}"
CUSTOMER_NAME="${CUSTOMER_NAME:-testClient}"
CUSTOMER_PATH="/sops/customers/${CUSTOMER_NAME}/"

## LOAD customer user access key
#AWS_KEY_ID=$(  cat sopsCustomer-${CUSTOMER_NAME}_key.json | jq -r '.AccessKey.AccessKeyId' )
#AWS_SEC_KEY=$( cat sopsCustomer-${CUSTOMER_NAME}_key.json | jq -r '.AccessKey.SecretAccessKey' )
AWS_KEY_ID="CHANGE_ME"
AWS_SEC_KEY="CHANGE_ME"


INITIAL_USER_NAME="<foo>"
INITIAL_USER_GECOS="<bar>"
INITIAL_USER_SSH_KEY="<foo bar ssh public key>"

