---
148:
- :uint64
- :flowId
225:
- :ip4_addr
- :postNATSourceIPv4Address
226:
- :ip4_addr
- :postNATDestinationIPv4Address
227:
- :uint16
- :postNAPTSourceTransportPort
228:
- :uint16
- :postNAPTDestinationTransportPort
233:
- :uint8
- :firewallEventPA
281:
- :ip6_addr
- :postNATSourceIPv6Address
282:
- :ip6_addr
- :postNATDestinationIPv6Address
346:
- :uint32
- :privateEnterpriseNumber
56701:
- :string
- :appId
56702:
- :string
- :userId
