###
### SOURCES
###
# Beats source (TCP/5044)
<source>
  @type beats
  tag beats
</source>

# Syslog sources (TCP/UDP/5514)
<source>
  @type syslog
  tag syslog.udp
  port 5514
  protocol_type udp
</source>
<source>
  @type syslog
  tag syslog.tcp
  port 5514
  protocol_type tcp
</source>

# Netflows (UDP/2055)
<source>
  @type netflow
  tag netflow.event
  port 2055
  definitions /etc/td-agent/plugin/netflow.yml
</source>


###
### FILTERS
###
# Inject flluent headers into JSON
<filter netflow.* syslog.** filebeat.** metricbeat.** winlogbeat.**>
  @type record_transformer
  enable_ruby true
  <record>
    soc_tag ${tag}
    soc_hostname ${hostname}
    soc_timestamp ${time.utc.to_i}
    soc_customer_tag {{ ansible_local.secureops.customer_info.name }}
  </record>
</filter>

<filter netflow.* syslog.** metricbeat.** filebeat.** winlogbeat.**>
  @type adduuid
  key soc_recordid
</filter>


###
### OUTPUTS
###
{% for output in ['syslog', 'netflow', 'filebeat', 'winlogbeat', 'metricbeat'] %}

<match {{ output }}.**>
  @type copy
  <store>
    @type kinesis_streams
    region      {{ ansible_local.secureops.customer_info.aws_region }}
    aws_key_id  {{ ansible_local.secureops.customer_info.aws_key_id }}
    aws_sec_key {{ ansible_local.secureops.customer_info.aws_sec_key }}
    stream_name logs-{{ ansible_local.secureops.customer_info.name }}-{{ ansible_local.secureops.customer_info.aws_region }}-{{ output }}
    debug false
    <format>
      @type json
      add_newline true
    </format>
    flush_interval 30s
  </store>
  <store>
    @type file
    path /opt/fluentd/logs/%Y/%m/%d/${tag}-%H%M.log
    compress gzip
    <format>
      @type json
    </format>
    <buffer tag,time>
      @type file
      path /opt/fluentd/buffer/{{ output }}
      timekey 5m
      timekey_wait 1m
    </buffer>
  </store>
</match>
{% endfor %}

