input {
  file {
    path => "/var/log/"
    type => "syslog"
    tags => ["collector_logs"]
  }

  beats {
    port => 5044
    type => "beat"
  }

  syslog {
    port => 5514
    type => "syslog"
  }
}

filter {
  if ([host] =~ "127.0.0.1" or [host] =~ "localhost") and [logsource] {
    mutate { copy => { "logsource" => "host" } }
  }

  mutate {
    add_field => { "soc_customer_tag" => "{{ ansible_local.secureops.customer_info.name }}" }
    add_field => { "soc_hostname" => "%{host}" }
  }

  uuid {
    target => "soc_record_id"
    overwrite => true
  }

  mutate {
    copy => { "type" => "soc_tag" }
  }
}

output {
  #file {
  #  path => "/opt/logstash/logs/%{+YYYY}/%{+MM}/%{+dd}/logs-%{host}-%{+hh}.gz"
  #   codec => json_lines
  #   gzip => true
  # }

  if [type] == "syslog" {
    kinesis {
      stream_name => "sopsCustomerLogs-{{ ansible_local.secureops.customer_info.name }}-{{ ansible_local.secureops.customer_info.aws_region }}-syslog"
      region => "{{ ansible_local.secureops.customer_info.aws_region }}"
      metrics_level => "none"
    }
  }
}
