# node.name: test
path.data: /opt/logstash/data

# ------------ Queuing Settings --------------
# queue.type: memory
# path.queue:
# queue.page_capacity: 64mb
# queue.max_events: 0
# queue.max_bytes: 1024mb
# queue.checkpoint.acks: 1024
# queue.checkpoint.writes: 1024
# queue.checkpoint.interval: 1000

#
# ------------ Debugging Settings --------------
# log.level: info
path.logs: /var/log/logstash

# ------------ Other Settings --------------
#
# Where to find custom plugins
# path.plugins: []
