
source s_net {
    syslog(
      ip(0.0.0.0)
      transport("tcp")
      port(514)
      time-zone("UTC")
      max-connections(200)
    );
    
    syslog(
      ip(0.0.0.0)
      transport("udp")
      port(514)
      time-zone("UTC")
      max-connections(200)
    );
};

destination dn_local_tool { 
   syslog(
      "localhost"
      transport("tcp")
      port(5514)
  );
};

log {
  source(s_net) ;
  #filter(f_xxx) ;
  destination(dn_local_tool) ;
} ;

log {
  source(s_src) ;
  #filter(f_xxx) ;
  destination(dn_local_tool) ;
} ;

