
source s_net {
    network(
      ip(0.0.0.0)
      transport("tcp")
      port(514)
      time-zone("UTC")
    );
    
    network(
      ip(0.0.0.0)
      transport("udp")
      port(514)
      time-zone("UTC")
    );
};

destination dn_local_tool { 
   network(
      "localhost"
      transport("tcp")
      port(5514)
  );
};
