<create_target>
   <name>{{ scan_target_label }}</name>
   <hosts>{{ scan_target_host_csv }}</hosts>
   {% if scan_port_list_id is defined %}
   <port_list id="{{ scan_port_list_id }}"/>
   {% endif %}
   {% if scan_ssh_credential_id is defined %}
   <ssh_credential id="{{ scan_ssh_credential_id }}"/>
   {% endif %}
   {% if scan_smb_credential_id is defined %}
   <smb_credential id="{{ scan_smb_credential_id }}"/>
   {% endif %}
   {% if scan_esxi_credential_id is defined %}
   <esxi_credential id="{{ scan_esxi_credential_id }}"/>
   {% endif %}
   {% if scan_alive_tests is defined %}
   <alive_tests>{{ scan_alive_tests }}</alive_tests>
   {% endif %}
</create_target>
