<create_task>
   <name>{{ scan_task_label }}</name>
   <comment>{{ scan_task_comment }}</comment>
   <config id="{{ scan_config_id }}"/>
   <target id="{{ scan_target_id }}"/>
   <scanner id="{{ scan_scanner_id }}"/>
 </create_task>
