<create_credential>
    <name>{{ scan_credential_label }}</name>
    <login>{{ scan_credential_username }}</login>
    {% if scan_credential_password is defined %}
    <password>{{ scan_credential_password }}</password>
    {% endif %}
    {% if scan_ssh_private_key is defined %}
    <type>usk</type>
    {% elif scan_credential_password is defined %}
    <type>up</type>
    {% endif %}
    {% if scan_ssh_private_key is defined %}
    <key>
        <private>{{ scan_ssh_private_key }}</private>
        {% if scan_ssh_key_phrase is defined %}
        <phrase>{{ scan_ssh_key_phrase }}</phrase>
        {% endif %}
    </key>
    {% endif %}
</create_credential>
